extends ../layout

block content
    h1 Checked Out Books
    include ../includes/books_nav.pug
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year Released
      tbody
        each book in checkedBooks
          tr
            td
              a(href=`/books/${book.id}`)=book.Book.title
            td=book.Book.author
            td=book.Book.genre
            td=book.Book.first_published
