extends layout

block content

 if Error.status = 400
   
 p The page you have requested does not exist.
 p #{Error.message}
 p #{Error.name}

  
 if Error.status = 500  
   
 p The page you have requested is not available
 
 a.button(href='/') Home
 p
   a.button(href='/books') Return to 'All Books'
   span          
   a.button(href='/loans') Return to 'All Loans'
   span          
   a.button(href='/patrons') Return to 'All Patrons'
