extends layout

block content
    h1 New Book (this is error.pug that's rendering). The route for this is in app.js
    form
      h2.error Oooops!
      ul.error
        li Error message goes here
      p
        label(for='title') Title
        input#title(type='text')
      p
        label(for='author') Author
        input#author(type='text')
      p
        label(for='genre') Genre
        input#genre(type='text')
      p
        label(for='first_published') First Published
        input#first_published(type='text')
      p
        input(type='submit', value='Create New Book')
