extends layout

block content
  
  h1 Library Manager
  p Welcome to Library Manager
  ul
    li
      | Books
      ul
        li
          a(href='/books/newbook') New Book
        li
          a(href='/books') List All
        li
          a(href='/books/overduebooks') List Overdue
        li
          a(href='/books/checkedbooks') List Checked Out
    li
      | Patrons
      ul
        li
          a(href='/patrons/newpatron') New Patron
        li
          a(href='/patrons') List All
    li
      | Loans
      ul
        li
          a(href='loans/newloan') New Loan
        li
          a(href='/loans') List All
        li
          a(href='/loans/overdueloans') List Overdue
        li
          a(href='/loans/checkedloans') List Checked Out
