extends layout

block content
  
  h1 Library Manager
  p Welcome to Library Manager
  ul
    li
      | Books
      ul
        li
          a(href='/newbook') New Book
        li
          a(href='/books') List All
        li
          a(href='/books?filter=overdue') List Overdue
        li
          a(href='/books?filter=checked_out') List Checked Out
    li
      | Patrons
      ul
        li
          a(href='/newpatron') New Patron
        li
          a(href='/patrons') List All
    li
      | Loans
      ul
        li
          a(href='/newloan') New Loan
        li
          a(href='/loans') List All
        li
          a(href='/overdueloans') List Overdue
        li
          a(href='/checkedloans') List Checked Out
