doctype html
html
  head
    title New Book
    link(rel='stylesheet', href='/stylesheets/style.css')
  include includes/nav.pug
  body
    block content
    script(src='/javascripts/search.js')

    
    //- Above script tag gives access to my public folder's js.
